.container{
    width: 100%;
}
 /* header */
header ul{
    list-style: none;
}
 /* lo que busco */
h1{
    text-align: left;
    color: white !important;
    font-family: 'Anton', sans-serif !important;
    font-size: 5vw !important;

  }
    .search-results{
        font-size:40px;
        margin:0px 10px;
        color:grey;
      }


/* spinner */
#spinner{
  display: none;
}


  .user-search{
    display:flex;
    width:100%;
    flex-direction: row nowrap;
  }
  /* resultados */
  .results{
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    width:100%;
  }

  h2{
    color:#A4B3B6!important;
    text-align:left;
    font-size:4vw !important;
    font-family:'Oswald', sans-serif !important;
    margin:20px 0px 0px 20px !important;
  }

  .track-results{
    width:100%;

  }

  .artist-results{
    width:100%;

  }
  
  .album-results {
    width:100%;

  }
  ul.album-results-list, ul.track-results-list, ul.artist-results-list{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    overflow-y: scroll;
    width:auto;
    text-decoration: none;
  }
  .results li {
     list-style:none;
     display:flex;
     flex-direction:column;
     flex-wrap:wrap;
     margin:10px;
     text-align: center;
    background-color:rgb(54, 17, 85);
    border-radius:20px;
    padding:10px;


  }
  .results img{
    width:100%;
    border-radius:50%;
  }
  .img-div{
    width:150px;
  }
  /* media query tablet */
  @media  (max-width: 768px){
    .img-div{
      Width: 90px}
  }
  /* media query iphone */
  @media (max-width: 360px){
    .img-div{
    Width: 60px}
  }