body{
    background-position: center;
}
.login-page{
    width:50%;
    padding:10% 0 0;
    margin:auto;
}
.login-page img{
    width:100%;
    margin-bottom:30px;
}

li{
    list-style:none;
}
.form{
    position:relative;
    z-index:1;
    background-color:white;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align:center;
}
.form input{
    font-family:"robot", sans-serif;
    outline:1;
    background:rgb(192, 181, 181);
    width:100%;
    border:none;
    margin: 0 0 15px;
    padding:15px;
    box-sizing:border-box;
    font-size:14px;
}
#create-button, #login-button{
    font-family:"roboto", sans-serif;
    text-transform:uppercase;
    outline:0;
    background:rgb(196, 195, 195);
    padding:15px;
    color:black;
    font-size:14px;
    cursor:pointer;
    color:rgb(129, 90, 180);
}
.form input:hover, .input button:active{
    background:pink;
}
.form .message{
    margin: 15px 0 0;
    color:rgb(129, 90, 180);
    font-size:12px;
}
.form .message a{
    color: #D83F87;
    text-decoration:none;
}
.form .register-form{
    display:none;
}

@media  (max-width: 320px){
.form input{
    font-size:7px;
}

.login-page{
    padding:32% 0 0;
}
}