/*css*/
*::-webkit-scrollbar {
    display: none;
  }
  

body{
    background-color: rgb(27, 3, 46);
    margin: 0px;

}

.color-titulo{
    color: white !important;
}

div.container{
    width:100%;
    position:relative;
    min-height:100vh;
}

div.page-container{
    padding-bottom:100px;
    min-height:80vh;
}

a{
    font-family: 'Oswald', sans-serif;
    color:white;
}

div{
    color:white;
    font-family:'Oswald', sans-serif;
    border-width:0.5px;
    border-color:solid white;
}

/* header */  
header{

    background-color:#D83F87;
    position: sticky;
    top: 0;
    /* z-index: 150; */
    height: 100px;
    box-sizing: border-box;
    width: 100%;
}

.desktop-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.logo {
margin-right: auto;
margin-left: 10px;
margin-top: 5px;
}
.logo img {
width:300px;}

header ul{
display: flex;
flex-direction: row;
width: 100%;
justify-content: space-around;
box-sizing: border-box;
}
header .searchbar{
width: 100px;
height: 10px;
transition: all 0.5s ease 0.2s;
border-radius: 10px;
padding-left: 5px;
margin-right: 5px
}



.fa-search{
    color:white;
    font-size:30px;
}



#search{
    background-color:white;
    width:220x;
    height:30px;
}

li a{
    text-decoration:none;
    color:white;
}

.searchbar-flex{
    display:flex !important;
    justify-content: center !important;
    width:50% !important;
}


/* footer */
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color:#D83F87 ;
    height: 100px;
    padding:10px;
    flex-wrap: nowrap;
    flex: row;
    position:relative;
    bottom: 0;
    box-sizing: border-box;
    

  
}
.deezer{
   border-radius: 50%;
   height: 90px;
    margin-left:0px;
    margin-right:30px;
    justify-content: flex-end;
}
.nombres{
    display:flex;
    padding-left:0px;
    align-items:center;
}
.nombres li{
    display: flex;
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* margin:30px; */
}

#icons{
    color:white;
    font-size:30px;
}

ul#icons{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items:center;
    margin-right:505px;
    list-style: none;
}

#icons li{
    margin:20px;
}

.burger-menu-mobile{
    display:none;
}



@media  (max-width: 768px){
    li .logo-img{
        margin-left:50px;
        margin-right:0px;
    }

    header li{
        margin-left:70px;
    }

    .deezer{
         margin-left:50px;
         justify-content: flex-end;
     }

     ul#icons{
         margin-right:0px;
     }

     header ul{
         padding-right:100px;
     }

     img.logo-img{
         margin:10px;
     }

 




}

@media  (max-width: 320px){
    /*Header*/

    html{
        display:flex;
        width:100%;
    }


    .desktop-menu{
        display:none;
    }

    .burger-menu-mobile{
        display:flex;
        box-sizing: border-box;
    }
    
    button{
        border:none !important;
        width:50%;
    }
    
    div.uk-margin.searchbar-flex{
        margin:10px 10px;
        padding-top:15px;
        padding-bottom:10px;
    }
    
    header ul{
        text-decoration:none;
        width:100%;
        justify-content: center;
        margin:0px;
        margin-right:0px;
        padding:0px;
    }

    header li{
        margin:0px;
    }

    /*footer*/
    footer{
        height:300px;
        width:100%;
        flex-direction:column;
        flex-wrap:nowrap;
        justify-content: center;
        align-content: center;
    }

    .deezer{
       border-radius: 50%;
       height: 100px;
       width:100px;
       align-items: center;
       margin:4px 300px;
    }

   img.deezer{
    align-self: center;
   }
    
    ul#icons{
        justify-content: space-around;
        margin-right:0px;
        margin:0px;
    }
    
    #icons li{
        margin:20px;
    }

    ul.nombres{
        margin:0px;
        justify-content: center;

    }
    


}

