/*css*/
body{
   /* background-image: url(../img/bkg-img.png);
    background-repeat: repeat-x;*/
    background-color: rgb(27, 3, 46);
}

a{
    font-family: 'Oswald', sans-serif;
    color:white;
}

div{
    color:white;
    font-family:'Oswald', sans-serif;
    border-width:2px;
    border-color:solid white;
}
