/*css*/
html{
    display:flex;
}

body{
    margin:0px;
}
.container{
    display:flex;
    flex-wrap:wrap; 
    width:100%;
    justify-content: center;
    padding:0px;
}

div{
    width:100%;
}
/*
div{
    background-color:white;
    border:solid black;
    width:100%;
}
*/

/* banner */


.banner{
    padding-top:110px;
    width:1200px;
    height:700px;
    box-sizing: border-box;
    margin:15px 0px 30px 0px;
}

.buscador{
    border:solid white;
    width:100%;
    height:50px;
    background-color: #A4B3B6;
}

.fa-search{
    color:white;
    font-size:30px;
    margin:9px 15px;
}

.minibanner{
    display:grid;
    grid-template-columns: 319px 1fr;
    border:solid white;
    border-width:3px;
    width:100%;
    height:550px;
    margin-top:30px;
    margin-bottom:60px;
}

.banner-img{
    width:100%;
    overflow: hidden;
}

.minibanner img{
    width:100%;
    z-index: 1;
}

.banner-title{
    display:grid;
    grid-template-rows: 220px 110px 220px;
    height:550px;
    background-color: rgb(129, 90, 180);
}

.title1{
    display:flex;
    text-align: center;
    justify-content: center;
    font-size:150px;
    font-family: 'Anton', sans-serif;
    text-transform:uppercase;
}

.title2{
    display:flex;
    justify-content: center;
    align-self: center;
    font-family: 'Kaushan Script', cursive;
    font-size:110px;
}

.title3{
    display:flex;
    text-align: center;
    justify-content: center;
    font-size:150px;
    font-family: 'Anton', sans-serif;
    text-transform:uppercase;

}

/* top 50 lists */
div .listas{
    width: 1200px;
    padding: 0px;
    
}
.listas{
    margin: 80px 0px;
    width:1200px;
    height:700px;
    display:flex;
    flex-wrap:nowrap;
    padding:20px;
    justify-content: space-between;
    
}

/*songs*/
.songs{
    border:solid white;
    width:350px;
    background-color:#A4B3B6;
    overflow-y:scroll;
    z-index:3;
}

div.songs{
    height:650px;
    margin-top: 0px;
}

ul.songs{
    margin-top:0px;
}


/*albums*/
.albums{
    border:solid white;
    width:350px;
    background-color:#A4B3B6;
    overflow-y: scroll;
}

div.albums{
    height:650px;
    margin-top:0px;
}

ul.albums{
    margin-top:0px;
}

/*artists*/
.artists{
    border:solid white;
    width:350px;
    background-color:#A4B3B6;
    overflow-y: scroll;
}

div.artists{
    height:650px;
    margin-top:0px;
}

ul.artists{
    margin-top:0px;
}

/*Interior de la lista*/
.list-title{
    font-size:40px;
    padding:2px;
    background-color: #D83F87;
    width:350px;
    margin:0px;
    text-align:center;
    height:65px;
}

ul{
    list-style: none;
    padding:0px;
}


.listas li{
    color:white;
    font-size:50px;
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-content:center;
    align-items: center;
    border-bottom:dotted rgb(27, 3, 46);
    border-width:0.5px;
}

h4{
    font-size:50px;
    font-weight: 400;
    color:white;
    margin:0px;
}

h5{
    font-size:40px;
    font-weight: 200;
    color:rgb(129, 90, 180);
    margin:0px;

}


.list-foto{
    border-radius:50%;
    width:28%;
    padding:5px;
}

/*tablet*/
@media only screen and (max-width: 768px){
 
   .banner{
       width:700px;
       height:450px;
   }

   .minibanner{
        grid-template-columns: 200px 1fr;
        height:300px;
   }

   .banner-title{
    display:grid;
    grid-template-rows: 110px 80px 110px;
    height:300px;
    }

    .title1{
    font-size:90px;
    }

    .title2{
    font-size:70px;
    }

    .title3{
    font-size:90px;
    }

    div .listas{
        width:700px;
    }

    .listas{
        margin-top:50px;
        width:700px;
        height:500px;
    }

    div.songs, div.albums, div.artists{
        height:550px;
        width:200px;
    }

    ul.songs, ul.albums, ul.artists{
        width:200px;
        border:none;
    }
    
    h3.list-title{
        width:100%;
    }

    li.songs, li.albums, li.artists{
        width:100%;
        padding-right:10px;
    }

    h4{
        font-size:30px;
    }

    h5{
        font-size:20px;
    }


    
}
    @media only screen and (max-width: 360px){
        /*banner*/
        div.banner{
            height:350px;
        }
        
        .banner-img{
            display:none;
        }

        .minibanner{
           height:200px;
           grid-template-columns:none;
       }

       .banner-title{
        height:200px;
        display:flex;
        grid-template-columns:none;
        grid-template-rows: none;
        }

        div.title1, div.title3{
            align-items:center;
        }

        div.title2{
            font-size:80px;
            margin-bottom:15px;
        }

        /*listas*/

        .listas{
            display:flex;
            flex-direction:column;
            flex-wrap:nowrap;
            height:800px;
            margin-bottom:20px;
        }
        div.songs, div.albums, div.artists{
            width:700px;
            height:500px;
            margin-bottom:40px;
        }

        /*interior listas*/
        div.songs, div.albums, div.artists{
            display:flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content:space-between;
            position:relative;
        }

        ul.songs{
            display:flex;
            flex-direction:row;
            flex-wrap:nowrap;
            overflow-x: scroll;
            width:5000px;
            height:500px;
        }

        .list-title{
            display:flex;
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .songs li{
            display:flex;
            flex-direction:column;
            flex-wrap:nowrap;
            width:200px;
        }



        











        /*
        div.listas{
            display:flex;
            flex-direction: column;
            flex-wrap:nowrap;
            height:800px;
        }

        div.songs, div.albums, div.artists{
            width:700px;
            height:250px;
            display:flex;
            flex-direction:row;
            flex-wrap: nowrap;
            position: relative;
        }
        
        .songs li{
            height:250px;
            border:none;
            display:flex;
            flex-direction: column;
            flex-wrap:nowrap;
            width:400px;
        }
        
        .songs ul{
            overflow-x: scroll;
            display:flex;
            flex-direction: row;
            flex-wrap:nowrap;
            height:250px;
            width:100%;
        }
        
        h3.list-title{
            transform:rotate(-90deg);
            width:250px;
        }

        /*
        .listas li{
            font-size:30px;
            display:flex;
            flex-wrap:wrap;
            flex-direction: column;
            justify-content: center;
            align-content:center;
            align-items: center;
            border-right:dotted rgb(27, 3, 46);
        }

        .list-title{
            transform: rotate(-90deg);
            width:229px;
            text-align:center;
            justify-content:center;
            vertical-align: center;
        }

        h3.list-title{
            display:flex;
            flex-direction:row;
            flex-wrap:nowrap;
            width:250px;
        }

    
    


    }







   