/*css*/
body{
    margin:0px;
}
.container{
    display:flex;
    flex-wrap:wrap; 
    width:100%;
    justify-content: center;
    padding:0px;
}

div{
    width:100%;
}
/*
div{
    background-color:white;
    border:solid black;
    width:100%;
}
*/

/* banner */


.banner{
    padding-top:40px;
    width:100%;
    height:700px;
    box-sizing: border-box;
    margin:15px 20px 30px 20px;
}
/* 
.buscador{
    border:solid white;
    width:100%;
    height:50px;
    background-color: #A4B3B6;
} */

/* .fa-search{
    color:white;
    font-size:30px;
    margin:9px 15px;
} */

.minibanner{
    display:grid;
    grid-template-columns: 319px 1fr;
    border:solid white;
    border-width:3px;
    width:100%;
    height:550px;
    margin-top:30px;
    margin-bottom:60px;
}

.banner-img{
    width:100%;
    overflow: hidden;
}

.minibanner img{
    width:100%;
    z-index: 1;
}

.banner-title{
    display:grid;
    grid-template-rows: 220px 110px 220px;
    height:550px;
    background-color: rgb(129, 90, 180);
}
.banner-title .title1{
    font-size: 70px;

}

.title1{
    display:flex;
    text-align: center;
    justify-content: center;
    font-size:150px;
    font-family: 'Anton', sans-serif;
    text-transform:uppercase;
}

.title2{
    display:flex;
    justify-content: center;
    align-self: center;
    font-family: 'Kaushan Script', cursive;
    font-size:110px;
}

.title3{
    display:flex;
    text-align: center;
    justify-content: center;
    font-size:150px;
    font-family: 'Anton', sans-serif;
    text-transform:uppercase;

}

/* top 50 lists */
div .listas{
    width: 100%;
    padding: 0px;
    margin: 20px;
    
}
.listas{
    margin: 80px 0px;
    width:100%;
    height:700px;
    display:flex;
    flex-wrap:nowrap;
    padding:20px;
    justify-content: space-between;
    margin-bottom:100px;
}

.linea{
    font-weight: 100;
}

/*songs*/
.songs{
    border:solid white;
    width:29%;
    background-color:#A4B3B6;
    overflow-y:scroll;
}

div.songs{
    height:650px;
    margin-top: 0px;
}

ul.songs{
    margin-top:0px;
    margin-bottom:0px;
}


/*albums*/
.albums{
    border:solid white;
    width:29%;
    background-color:#A4B3B6;
    overflow-y: scroll;
}

div.albums{
    height:650px;
    margin-top:0px;
}

/*artists*/
.artists{
    border:solid white !important;
    width:29%;
    background-color:#A4B3B6;
    overflow-y: scroll; 
  
}

div.artists{
    height:650px;
    margin-top:0px;
}

ul.artists, ul.albums, ul.tracks{
    margin-top:0px;
    margin-bottom:0px;
}

/*Interior de la lista*/
.list-title{
    font-size:40px;
    padding:2px;
    background-color: #D83F87;
    width:100%;
    margin:0px;
    text-align:center;
    height:65px;
    color:white !important;
    font-family:'Oswald', sans-serif !important;
}

ul{
    list-style: none;
    padding:0px;
}


.listas li{
    color:white;
    font-size:50px;
    display:grid;
    grid-template-columns:1fr 1fr 0.7fr;
    grid-template-rows:1fr;
    justify-content: space-around;
    align-content:center;
    align-items: center;
    border-bottom:dotted rgb(27, 3, 46);
    border-width:0.5px;    
    transition: 0.2s;
}

/*pseudoclase*/
.listas li:hover {
    background-color:rgb(210, 223, 226);
}

.listas a{
    transition:0.3s;
}
.listas a:hover{
    transform: scale(1.1);
}


h4{
    font-size:25px;
    font-weight: 400;
    color:white;
    margin:0px;
    font-family:'Oswald', sans-serif !important;
}

h5{
    border-left:solid white;
    padding-left:10px;
    font-size:20px;
    font-weight: 200;
    color:rgb(129, 90, 180);
    margin:0px;

}


.list-foto{
    border-radius:50%;
    width:80%;
    padding:5px;
}


/*tablet*/
@media (max-width: 768px){
.banner-img{
    display:none
}

.minibanner{
    grid-template-columns:1fr;
    box-sizing: border-box;
    display:flex;
}
.banner-title{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
}
.banner-title .title1{
    font-size:150px;
}

.banner{
    height:650px;
}
.title2{
    font-size:120px;
}

.title3{
    font-size:100px;
    
}

/*LISTAA*/
div.listas{
    height:620px;
}
div.songs, div.albums, div.artists{
    height:590px;
}
.list-title{
    font-size:30px;
}

h4{
    font-size:15px;
}

h5{
    font-size:15px;
}

.listas li{
    display:grid;
    grid-template-columns:0.6fr 1fr 1fr;
    height:60px;
   
}


}

@media (max-width: 360px){
   /*BANNER*/
    .banner-title .title1{
        font-size:40px;
    }

    .title2{
        font-size:40px;
    }
    
    .title3{
        font-size:40px;   
    }
   
    div.banner{
        height:220px;
        padding:10px 0px;
        margin-bottom:0px;
        margin-left:10px;
        margin-right:10px;
    

    }

    div.minibanner{
        height:150px;
        border:none;
    }

    .banner-title{
        height:150px;
        display:flex;
        width:100%;
        flex-direction:row;
        flex-wrap:nowrap;
    }

    div.title1, div.title3{
        align-items:center;
    }

    /*INTERIOR LISTAS*/
        /*listas*/

        /*no se puede sacar esa medida de px*/
       
 
        .listas{
            display:flex;
            flex-direction:column;
            flex-wrap:nowrap;
            height:800px;
            margin-bottom:20px;
            width:100%;
        }

        div.songs, div.albums, div.artists{
            margin:15px 10px;
            width:92%;
            overflow-y: hidden;
            overflow-x:scroll;
            display:flex;
            position:relative;
        }

        ul.songs, ul.albums, ul.artists{
            display:flex;
            flex-direction:row;
            flex-wrap:nowrap;
            border:none !important;
            padding-left:66px;

        }

        .linea{
            display:none;
        }

        .songs li, .albums li, .artists li{
            height:100%;
            display:grid;
            grid-template-columns:1fr;
            grid-template-rows:1fr 0.5fr 0.4fr;
        }

        h5{
            border-left:none;
        }

        h3.list-title{
            box-sizing:border-box;
            position:absolute;
            z-index: 10;
            transform:rotate(-90deg);
            top:57px;
            left:-115px;
            padding:0px;
        }

        
  
         

}