body{
    margin: 0px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 0px;
}

.foto1{
    width:500px;
    height:500px;
}

img.fotodetail{
    width:100%;
}

div.detail{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border:solid #A4B3B6;
    width:1000px;
    height:500px;
    margin-bottom:80px;

}
.title{
    padding-top: 110px;
    width: 1000px;
   display: flex;
   font-family: 'Anton', sans-serif;
   text-align:right;
}

.title p{
margin: 10px;
font-size: 100px;
}

.fotodetailalbum{
    width:100%;
}

/*Datos album*/
 
.info{
    display:flex;
    justify-content: center;
    flex-direction:column;
    width:500px;
}

.nombre{
    font-size:100px;
    margin:20px 0px 0px 0px;
    font-weight: bold;
}

span.datos{
    font-size:40px;
    color:#D83F87;
}



ul{
    list-style:none;
    padding-left:0px;
}

.info-list li{
    margin:20px 0px 30px 0px;
    color:white;
    font-size:30px;
}

li.top-songs-title{
    margin-bottom:0px;
}
ol.topsongs li{
    font-size:20px;
    margin:0px;
}

ol.topsongs{
    padding-left:100px;
}



.datos-add{
    background-color:#A4B3B6;
    border-radius:7px;
    padding:7px 20px;

}

/*genre*/
.genre-artists{
    border:solid white;
    overflow-y: scroll;
    border:solid white;
    height:200px;
    margin:30px;

}

.genre-artists-list ul{
    font-size:5px;
    display: flex;
    flex-wrap: nowrap;
     width: 50%; 
}

.genre-artists-list li{
    margin:3px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.fotoartists{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.nameartists{
    width: 100%;
    font-size: 20px;
    margin-left:30px;;
}

h2.nameartists{
    display:flex;
    align-items:center;
}

.genre-artists-list li{
    margin-top: 20px;
}


/*tablet*/
    @media only screen and (max-width: 768px){
           

            footer ul{
                margin-right: 10px;
            }


          
            .container{
                width: 100%;
                height:100vh;
            }
            div.detail{
                width: 700px;
                height: 350px;
            }
            .title{
               display: flex;
               flex-direction: column;
               align-items: center;
            }
            
            div.genre-artists{
                width:300px;
                height:130px;
                margin: 0px 0px 0px 20px;
            }

            .info{
                width:350px;
                height:350px;
        
            } 
            .foto1{
                width:350px;
                height:350px;
        
            }
            .nombre{
                font-size: 70px;
            }
            .info-list li{
                margin: 5px 0px 15px 0px;
            }
        
            ol.topsongs li{
                font-size:10px;
                margin:0px;
            }

            li.top-songs-title{
                margin-bottom:0px;
            }

            footer{
                position: relative;
                top:64;px;
            }
        
        }
        
        
    

    /* iphone */
    @media only screen and (max-width: 360px){
     

        .container{
        height: 2000px;

    }

    .detail{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    div.detail{
        width: 500px;
        height:950px;
        align-items: center;
        margin-bottom: 10px;
    }
    img.fotodetail{
        width: 100%;
      
    }
    .foto1{
        width: 500px;;
    }
    .info{
        width: 100%;
        align-items: center;
    
    }
    div.title{
        height:1px;

    }
    .nombre{
        margin-top: 300px;
    }
    div.genre-artists{
        height: 400px;
        margin-top: 40px;
        margin-left:0px;
    }
    div.info {
        margin-top: 0px;
        text-align: center;
    }

    div.info.genre{
        margin-top:150px;
    }

    h3.nombre{
        margin-top:10px;
    }
   
   .info-list li{
       margin-bottom: 2px;
   }

   ul.info-list{
       margin-bottom:100px;
   }

   ol.topsongs li{
    font-size:20px;
    margin:0px;
    text-align: center;
}

    ol.topsongs{
        padding:0px;
    }

    li.top-songs-title{
        margin:10px;
    }
}
   



  
