body{
    margin: 0px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 0px;
}

.foto1{
    width:500px;
    height:500px;
}

img.fotodetail{
    width:100%;
}

div.detail{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border:solid #A4B3B6;
    width:1000px;
    height:500px;
    margin-bottom:80px;

}
.title{
    padding-top: 110px;
    width: 1000px;
   display: flex;
   font-family: 'Anton', sans-serif;
   text-align:right;
}

.title p{
margin: 10px;
font-size: 50px;
}

.fotodetailalbum{
    width:100%;
}

/*Datos album*/
 
.info{
    display:flex;
    justify-content: center;
    flex-direction:column;
    width:500px;
}

.nombre{
    font-size:100px;
    margin:20px 0px 0px 0px;
    font-weight: bold;
}

span.datos{
    font-size:40px;
    color:#D83F87;
}



ul{
    list-style:none;
    padding-left:0px;
}

.info-list li{
    margin:20px 0px 30px 0px;
    color:white;
    font-size:30px;
}

ol.topsongs li{
    font-size:10px;
    margin:0px;
}

.datos-add{
    background-color:#A4B3B6;
    border-radius:7px;
    padding:7px 20px;

}

/*genre*/
.genre-artists{
    border:solid white;
    overflow-y: scroll;
    border:solid white;
    height:200px;
    margin:30px;
}

.genre-artists-list{
    font-size:5px;
}

.genre-artists-list li{
    margin:3px;
}

/*tablet*/
@media only screen and (max-width: 768px){
    .container{
        width: 768px;
        height: 950px;
    }
    div.detail{
        width: 700px;
        height: 350px;
    }
    .title{
        width:700px;
    }
     .info{
        width:350px;
        height:350px;

    } 
    .foto1{
        width:350px;
        height:350px;

    }
    .nombre{
        font-size: 70px;
    }
    .info-list li{
        margin: 5px 0px 15px 0px;
    }
}

/* iphone */
@media only screen and (max-width: 360px){
.container{
    height: 2000px;
}
.detail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
div.detail{
    width: 500px;
    align-items: center;
    margin-bottom: 500px;
}
img.fotodetail{
    width: 100%;
  
}
.foto1{
    width: 500px;;
}
.info{
    width: 100%;
    align-items: center;

}
div.title{
    height:1px;
}
.title{
   display: flex;
   flex-direction: column;
   align-items: center;
}

}