body{
    margin: 0px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 0px;
}

.foto1{
    width:50%;
    height:50%;
}

img.fotodetail{
    width:100%;
}

div.detail{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border:solid #A4B3B6;
    width:1000px;
    height:500px;
    margin-bottom:80px;

}
.title{
    width: 1000px;
   display: flex;
   font-family: 'Anton', sans-serif;
   text-align:right;
}

.title p{
margin: 10px;
font-size: 100px;
}

.fotodetailalbum{
    width:100%;
}
h3.nombre {
font-size: 4.5vw;
}
h3.nombre.nombre-artist{
font-size: 5vw;
}
/*Datos album*/
 
.info{
    display: none;
    justify-content: center;
    flex-direction:column;
    width:500px;
}

.nombre{
    font-size:70px;
    font-family: 'Oswald', sans-serif;
    color:white;
    margin:20px 0px 0px 0px;
    font-weight: bold;
}

span.datos{
    font-size:2vw;
    color:#D83F87;
}



ul{
    list-style:none;
    padding-left:0px;
}

.info-list li{
    margin:20px 0px 30px 0px;
    color:white;
    font-size:2vw;
}

li.top-songs-title{
    margin-bottom:0px;
}
ol.topsongs li{
    font-size:20px;
    margin:0px;
}

ol.topsongs{
    padding-left:100px;
}



.datos-add{
    background-color:#A4B3B6;
    border-radius:7px;
    padding:7px 20px;

}

/*genre*/
.genre-artists{
    border:solid white;
    overflow-y: scroll;
    border:solid white;
    height:200px;
    margin:30px;

}

.genre-artists-list ul{
    font-size:5px;
    display: flex;
    flex-wrap: nowrap;
     width: 50%; 
}

.genre-artists-list li{
    margin:3px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.fotoartists{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.nameartists{
    width: 100%;
    font-size: 2vw;
    margin-left:30px;;
}

h2.nameartists{
    display:flex;
    align-items:center;
    color: white;
}

.genre-artists-list li{
    margin-top: 20px;
}

div.genre-artists{
    border-width: 0.5px;
    border-color:rgb(129, 90, 180);
}
h3.nombre.nombre-genre{
    font-size: 5vw;
} 
/* albums */
h3.nombre.nombre-album{
    font-size: 4vw;
}

 /* media queries */
/*tablet*/
    @media  (max-width: 768px){
           
          
            .container{
                width: 100%;
                height:100vh;
            }

            /* .albumcontainer{
                height: 900px;
            } */
            div.detail{
                width: 700px;
                height: 350px;
                margin-top:50px;
            }
            .title{
               display: flex;
               flex-direction: column;
               align-items: center;
            }
            
            div.genre-artists{
                width:300px;
                height:130px;
                margin: 0px 0px 0px 20px;
            }

            .info{
                width:350px;
                height:350px;
        
            } 
            .foto1{
                width:50%;
                height:50%;
        
            }
            .nombre{
                font-size: 70px;
            }
            .info-list li{
                margin: 5px 0px 15px 0px;
            }
        
            ol.topsongs li{
                font-size:10px;
                margin:0px;
            }

            li.top-songs-title{
                margin-bottom:0px;
            }

            footer{
                position: static;
                top:64px;
            }
            footer ul{
                margin-right: 10px;
            }
        
        }
        
        
    

    /* iphone */
    @media (max-width: 360px){

   
    .detail{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    div.detail{
        width: 80%;
        height:570px;
        align-items: center;
        margin-bottom: 10px;
    }
    img.fotodetail{
        width: 100%;
      
    }
    .foto1{
        width: 100%;
        height: 100%;
       
    }
    .info{
        width: 100%;
        align-items: center;
    
    }
    div.title{
        height:1px;

    }
    .nombre{
        margin-top: 300px;
    }
    div.genre-artists{
        height: 170px;
        margin-top: 40px;
        margin-left:0px;
        border-width: 0.5px;

    }

    img.fotoartists{
        width:70px;
        height:70px;
    }
    div.info {
        margin-top: 0px;
        text-align: center;
    }

    div.info.genre{
        margin-top:150px;
    }

    h3.nombre{
        margin-top:10px;
        font-size: 40px;
    }
   
   .info-list li{
       margin-bottom: 2px;
       font-size: 20px;
   }

   ul.info-list{
       margin-bottom:50px;
       padding: 0px !important;
   }

   ol.topsongs li{
    font-size:20px;
    margin:0px;
    text-align: center;
}

    ol.topsongs{
        padding:0px;
    }

    li.top-songs-title{
        margin:10px;
    }
    span.datos{
        font-size: 20px;
    }

    h3.nombre.nombre-album{
        font-size: 30px;
    }

    footer{
        top:117px;
        display: flex;
        flex-wrap: wrap;
    }

    .datos li a{
        display:block;
    }
}
   



  
