/*primera foto*/
    div.playlist-img{
        width:100%;
    }

    .playlist-img img{
        /* object-fit: cover; */
        width:100%;
    }

    header{
        z-index:150;
    }
/* foto playlist */

iframe{
    border-radius:50%;
  
}
.title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 
}


.title h3{
    padding:30px;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color:white;

  
}
.title img{
    padding:30px;
    width: 300px;
    height: 300px;
    /*margin-left: 100px;*/
    border-radius: 50%;
    /*padding: 30px;*/

}

/*LIST HEADER*/
.list-header{
    position: sticky;
    top: 0;
    box-sizing: border-box;
    align-items: center;
    width:100%;
    padding:100px 20px 80px 20px;
    border-bottom:dotted #A4B3B6;
    font-size:3vw;
    height:70px;
    background-color: rgb(27, 3, 46);
}
header ul {
    list-style-type: none;
}


/* songs */
div.songs{
    width:100%;
    z-index:3;
    text-decoration: none;
     display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 


}
.list-foto{
    text-decoration: none;
    width: 50%;
}

.songs ul{
    width:100%;
    box-sizing: border-box;
    position:sticky;
}
.songs .list-items{
    box-sizing: border-box;
    align-items: center;
    width:100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.6fr 0.4fr 0.3fr;
    grid-template-rows: 1fr;
    justify-content: left;
    padding:10px 20px;
    border-bottom:dotted #A4B3B6;
    font-size:2vw;

}
.list-header{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.6fr 0.4fr 0.3fr;
    grid-template-rows: 1fr;
    justify-content: left;
    z-index: 30;

}
.remove{
    display: grid;
    justify-content: right;
}
h5{
    margin:0px;
    color: white !important;
}
.songs img{
    border-radius:50%;
}
.duration{
    display: grid;
    justify-content: right;
}
.songtitle{
    display: grid;
    justify-content: left;
}
.song-artist{
    display: grid;
    justify-content: left;
}
/*PSEUDOCLASES*/
.list-items:hover {
    background-color:rgb(73, 40, 102);
}

.list-items{
    transition:0.3s;
}

/*button*/
.button-play{
    border-radius: 50%;
    padding:0px;
    height:auto;
    width:90px;
  
}

.button-play img{
    width:100%;
    object-fit:cover;
    height:auto;
}



/*PLAY ICON*/


.play-icon-span{
    position:relative;
    width:100%;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;

  }

.play-icon-span:hover .overlay {
    opacity: 1;
  }

.play-icon {
    color:#D83F87;

    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  ul.songnames{
      padding:0px;
  }
  
@media (max-width: 768px){
        .container{
            width:100%;
        }

        .playlist-img img{ 
            display: none;
        }
        .date-added{
            display: none;
        }

}
@media  (max-width: 320px){
    div.playlist-img{
        display:none;
    }

    .title{
        padding-top:100px;
    }

    .songs li{
        font-size:10px;
        height:110px;
    }

    li.list-items{
        padding:5px 15px !important;
        font-size:40px;
    }

    a, span.duration{
        font-size:15px;
    }
    
    .button-play img{
        width:100%;
        object-fit:cover;
        height:auto;
    }

    .button-play{
        width:60px;
        height:60px;
    }

   
}

