/*primera foto*/
    div.playlist-img{
        width:100%;
    }

    .playlist-img img{
        /* object-fit: cover; */
        width:100%;
    }

    header{
        z-index:150;
    }
/* foto playlist */

.title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 
}


.title h3{
    padding:30px;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color:white;

  
}
.title img{
    padding:30px;
    width: 300px;
    height: 300px;
    /*margin-left: 100px;*/
    border-radius: 50%;
    /*padding: 30px;*/

}

/*LIST HEADER*/
.list-header{
    position: sticky;
    top: 0;
    box-sizing: border-box;
    align-items: center;
    width:100%;
    padding:100px 20px 80px 20px;
    border-bottom:dotted #A4B3B6;
    font-size:30px;
    height:70px;
    background-color: rgb(27, 3, 46);
}
header ul {
    list-style-type: none;
}


/* songs */
div.songs{
    width:100%;
    z-index:3;
    text-decoration: none;
     display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 


}
.list-foto{
    text-decoration: none;
    width: 50%;
}

.songs ul{
    width:100%;
    box-sizing: border-box;
    position:sticky;
}
.songs .list-items{
    box-sizing: border-box;
    align-items: center;
    width:100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: left;
    padding:0px 20px;
    border-bottom:dotted #A4B3B6;
    font-size:30px;
    height:70px;
}
.list-header{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: left;
    padding:0px 20px;
}

h5{
    margin:0px;
    color: white !important;
}
.songs img{
    width: 60px;
    height:60px;
    border-radius:50%;
}
@media (max-width: 768px){
        .container{
            width:100%;
        }

        .playlist-img img{
            width:787px;
        }


}
@media  (max-width: 320px){
    div.playlist-img{
        display:none;
    }

    .title{
        padding-top:100px;
    }

    .songs li{
        font-size:50px;
        height:110px;
    }

    .songs img{
        width:100px;
        height:100px;
    }
}

